@import "../style/mixins/buttonMixins";
@import "../style/variables/buttonVariables";

/** Colors ( Sau scale len se su dung vong lap */
.primary {
  @include buttonBase($primary-color, $primary-color-hover);
}

.secondary {
  @include buttonBase($secondary-color, $secondary-color-hover);
}

.success {
  @include buttonBase($success-color, $success-color-hover);
}

.info {
  @include buttonBase($info-color, $info-color-hover);
}

.warning {
  @include buttonBase($warning-color, $warning-color-hover);
}

.danger {
  @include buttonBase($danger-color, $danger-color-hover);
}

/** Sizes ( Sau scale len se su dung vong lap */
.sm {
  @include button-size(80px, 30px, 14px);
}

.md {
  @include button-size(100px, 40px, 16px);
}

.lg {
  @include button-size(120px, 50px, 18px);
}

/** State viet duoi dang btn-outline-{color}, su dung vong lap sau */
.btn-outline-primary {
	@include buttonOutline($primary-color, $primary-color-hover);
}

.btn-outline-secondary {
	@include buttonOutline($secondary-color, $secondary-color-hover);
}

.btn-outline-success {
	@include buttonOutline($success-color, $success-color-hover);
}

.btn-outline-info {
	@include buttonOutline($info-color, $info-color-hover);
}

.btn-outline-warning {
	@include buttonOutline($warning-color, $warning-color-hover);
}

.btn-outline-danger {
	@include buttonOutline($danger-color, $danger-color-hover);
}

/** State */
.btn-active {
	cursor: pointer;
	pointer-events: inherit;
}

.btn-disabled {
	cursor: not-allowed;
	pointer-events: none;
	color: #ffffff;
	background-color: #c9c7c7;
	opacity: 0.7;

}

/** Block */
.btn-block {
	display: block;
	width: 100%;
}
