$primary-color: rgb(0, 110, 255);
$primary-color-hover:  rgb(0, 89, 206);

$secondary-color: rgb(172, 172, 172);
$secondary-color-hover: rgb(128, 127, 127);

$success-color: rgb(35, 170, 1);
$success-color-hover: rgb(31, 148, 2);

$info-color: rgb(0, 180, 156);
$info-color-hover: rgb(1, 150, 130);

$warning-color: rgb(202, 206, 0);
$warning-color-hover: rgb(187, 190, 0);

$danger-color: rgb(231, 0, 0);
$danger-color-hover: rgb(189, 0, 0);
