/* Base color for button */
$primary-color: rgb(0, 110, 255);
$primary-color-hover: darken($primary-color, 10%);

$secondary-color: rgb(172, 172, 172);
$secondary-color-hover: darken($secondary-color, 10%);

$success-color: rgb(35, 170, 1);
$success-color-hover: darken($success-color, 10%);

$info-color: rgb(0, 180, 156);
$info-color-hover: darken($info-color, 10%);

$warning-color: rgb(202, 206, 0);
$warning-color-hover: darken($warning-color, 10%);

$danger-color: rgb(231, 0, 0);
$danger-color-hover: darken($danger-color, 10%);
