/* Mixin */
@mixin buttonBase($color, $hoverColor){
  width: 100px;
  height: 40px;
  border: none;
  background-color: $color;
  font-size: 16px;
	font-weight: 700;
	border-radius: 5px;
	color: white;
	transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $hoverColor;
  }
  &:focus {
    outline: none;
  }
}

@mixin buttonOutline($color, $hoverColor){
  border: 2px solid $color;
	color: $color;
	background-color: white;
	transition: all 0.4s;
  &:hover {
		background-color: $hoverColor;
		color: white;
  }
  &:focus {
    outline: none;
  }
}

/* Set size for button */
@mixin button-size($width, $height, $font-size ) {
  width: $width;
  height: $height;
  font-size: $font-size;
}
